table {
    border-collapse: collapse;
}


table tr,th,td{
    height:48px;
    border-bottom:1px solid #bbb;
    text-align:left;
    padding-left:16px;
    font-weight:100;
}
    table thead {
        font-family: 'GoogleSans-Bold';
        font-weight: bold;
    }
.grid{
    height: calc(100% - 120px);
    overflow-y:auto;
}